 .navbar {
    height: 50px;
    background-color: #3c009d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
.links {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.links > *, .links > *:visited   {
  text-decoration: none;
  color: inherit;
}

.links > *.active {
  background-color: white;
  color: #3c009d;
  border-radius: 1.5rem;
  padding: 0.4rem;
}

.navbar-left h1 {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-right > * {
  height: 2rem;
  /* cursor: pointer; */
}
